<div class="list row">
    <div class="col-md-8">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Buscar por nombre"
          [(ngModel)]="nombre"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="button"
            (click)="buscarNombre()"
          >
            Buscar
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Buscar por id"
          [(ngModel)]="id"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="button"
            (click)="buscarPorId()"
          >
            Buscar
          </button>
        </div>
      </div>
      <small *ngIf="!existe">Producto no existe</small>
    </div>
    <div class="col-md-8">
      <h4>Lista de Productos</h4>
      <table>
        <thead class="title">
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Descripción</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let prod of productos; let i = index"
            [class.active]="i == currentIndex"
            (click)="setActivarProducto(prod, i)"
            [ngClass]="{odd: (i + 1)%2 === 0}"
            class="efect">
                <td>{{ i + 1 }}</td>
                <td>{{ prod.nombre }}</td>
                <td>{{ prod.descripcion }}</td>
            </tr>
        </tbody>
      </table>
      <!-- <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let producto of productos; let i = index"
          [class.active]="i == currentIndex"
          (click)="setActivarProducto(producto, i)"
        >
          {{ producto.nombre }}
        </li>
      </ul> -->
  
      <button class="m-3 btn btn-sm btn-danger" (click)="eliminarTodosProductos()">
        Eliminar Todo
      </button>
    </div>
    <div class="col-md-4">
      <div *ngIf="productoActual">
        <h4>Producto</h4>
        <div>
          <label><strong>Nombre:</strong></label> {{ productoActual.nombre }}
        </div>
        <div>
          <label><strong>Descripción:</strong></label>
          {{ productoActual.descripcion }}
        </div>
        <div>
          <label><strong>Fecha de fabricación:</strong></label>
          {{ productoActual.fechaFabricacion }}
        </div>
        <div>
          <label><strong>Número de parte:</strong></label>
          {{ productoActual.numeroParte }}
        </div>
        <div>
        <label><strong>Comentarios:</strong></label>
        {{ productoActual.comentarios }}
        </div>
  
        <a class="link-dark" routerLink="/productos/{{ productoActual.id }}">
          Editar
        </a>
      </div>
  
      <div *ngIf="!productoActual">
        <br />
        <p>Por favor seleccione un Producto...</p>
      </div>
    </div>
  </div>
  