<div style="width: 400px; margin: auto;">
    <div *ngIf="productoActual" class="edit-form">
      <h4>Producto</h4>
      <form>
        <div class="form-group">
          <label for="title">Nombre</label>
          <input
            type="text"
            class="form-control"
            id="title"
            [(ngModel)]="productoActual.nombre"
            name="title"
          />
        </div>
        <div class="form-group">
          <label for="descripcion">Descripción</label>
          <input
            type="text"
            class="form-control"
            id="descripcion"
            [(ngModel)]="productoActual.descripcion"
            name="descripcion"
          />
        </div>
  
        <div class="form-group">
          <label for="fechaFabricacion">Fecha de fabricación</label>
          <input
            type="text"
            class="form-control"
            id="fechaFabricacion"
            [(ngModel)]="productoActual.fechaFabricacion"
            name="fechaFabricacion"
          />
        </div>
  
        <div class="form-group">
          <label for="numeroParte">Número de parte</label>
          <input
            type="text"
            class="form-control"
            id="numeroParte"
            [(ngModel)]="productoActual.numeroParte"
            name="numeroParte"
          />
        </div>

        <div class="form-group">
            <label for="comentarios">Comentarios</label>
            <input
              type="text"
              class="form-control"
              id="comentarios"
              [(ngModel)]="productoActual.comentarios"
              name="comentarios"
            />
          </div>
  
  
      </form>
      <div class="botones">
        <button class="btn btn-danger" (click)="borrarProducto()">
          Borrar
        </button>
    
        <button
          type="submit"
          class="btn btn-warning"
          (click)="actualizarProducto()"
        >
          Actualizar
        </button>
      </div>
      
      <p>{{ mensaje }}</p>
    </div>
  
    <div *ngIf="!productoActual">
      <br />
      <p>No se puede acceder al producto...</p>
    </div>
  </div>
  